  # Challenge

  ## Identifying Outliers using Standard Deviation

In [1]:
# initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine
from numpy import percentile

In [2]:
# create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection_db")

# Define a query that select all rows from the owners table
query = "select t.*, cc.card_holder_id from transaction as t inner join credit_card as cc on cc.card_number = t.card_number"

# Load data into the DataFrame using the read_sql() method from pandas
transaction_df = pd.read_sql(query, engine)

# Show the data of the new DataFrame
transaction_df.head()

,transaction_id,transaction_date,amount,card_number,merchant_id,card_holder_id
0,222,2018-01-01 21:35:10,6.22,3561954487988605,69,13
1,2045,2018-01-01 21:43:12,3.83,5135837688671496,85,13
2,395,2018-01-01 22:41:21,9.61,213193946980303,82,10
3,3309,2018-01-01 23:13:30,19.03,4263694062533017,5,4
4,567,2018-01-01 23:15:10,2.95,4498002758300,64,18

In [22]:
# code a function to identify outliers based on standard deviation
random.seed(2)
random_card_holder_id = np.random.randint(1,25,3)
random_transaction_df =transaction_df[transaction_df["card_holder_id"].isin(random_card_holder_id)]

In [23]:
# Print the random card holder id 
print (random_transaction_df['card_holder_id'].unique())

[ 8 24  3]

In [24]:
# find anomalous transactions for 3 random card holders

arr = random_transaction_df["amount"]

elements = np.array(arr)

mean = np.mean(elements, axis=0)
sd = np.std(elements, axis=0)

final_list = [x for x in arr if (x > mean - 2 * sd)]
final_list = [x for x in final_list if (x < mean + 2 * sd)]
final_list

#Printing the anomolus transaction for the 2 standard transaction
random_transaction_df.query("amount not in @final_list")

,transaction_id,transaction_date,amount,card_number,merchant_id,card_holder_id
575,1005,2018-03-01 21:29:05,1119.0,30078299053512,19,3
797,1821,2018-03-20 13:05:54,1011.0,30142966699187,141,24
1107,2241,2018-04-21 18:40:47,525.0,30142966699187,134,24
1260,3064,2018-05-08 13:21:01,1901.0,30142966699187,108,24
1886,1334,2018-07-11 16:55:22,1159.0,30078299053512,107,3
1913,1349,2018-07-14 06:09:18,1160.0,30078299053512,136,3
2409,16,2018-09-09 03:39:06,626.0,30078299053512,135,3
2702,384,2018-10-07 14:40:34,757.0,30078299053512,73,3
2811,1549,2018-10-19 01:07:37,1053.0,30078299053512,10,3
3064,2192,2018-11-13 05:58:47,466.0,30142966699187,122,24
3122,1629,2018-11-20 05:24:28,1054.0,30078299053512,22,3
3405,2461,2018-12-21 09:56:32,1301.0,30142966699187,96,24
3433,1119,2018-12-25 19:10:42,1035.0,30142966699187,57,24

  ## Identifying Outliers Using Interquartile Range

In [25]:
# code a function to identify outliers based on interquartile range
data = random_transaction_df["amount"]

# calculate interquartile range
q25, q75 = percentile(data, 25), percentile(data, 75)
iqr = q75 - q25
print('Percentiles: 25th=%.3f, 75th=%.3f, IQR=%.3f' % (q25, q75, iqr))

# calculate the outlier cutoff
cut_off = iqr * 1.5
lower, upper = q25 - cut_off, q75 + cut_off

# identify outliers
outliers = [x for x in data if x < lower or x > upper]
print('Identified outliers: %d' % len(outliers))

# remove outliers
outliers_removed = [x for x in data if x >= lower and x <= upper]
print('Non-outlier observations: %d' % len(outliers_removed))

Percentiles: 25th=3.415, 75th=15.265, IQR=11.850
Identified outliers: 18
Non-outlier observations: 325

In [26]:
# find anomalous transactions for 3 random card holders
# Print the fraudulent transaction
random_transaction_df.query("amount in @outliers")

,transaction_id,transaction_date,amount,card_number,merchant_id,card_holder_id
575,1005,2018-03-01 21:29:05,1119.0,30078299053512,19,3
797,1821,2018-03-20 13:05:54,1011.0,30142966699187,141,24
1107,2241,2018-04-21 18:40:47,525.0,30142966699187,134,24
1260,3064,2018-05-08 13:21:01,1901.0,30142966699187,108,24
1652,528,2018-06-18 23:05:30,258.0,30142966699187,72,24
1886,1334,2018-07-11 16:55:22,1159.0,30078299053512,107,3
1913,1349,2018-07-14 06:09:18,1160.0,30078299053512,136,3
1984,682,2018-07-21 11:08:39,291.0,30142966699187,119,24
2268,2121,2018-08-21 20:46:33,188.0,30078299053512,71,3
2409,16,2018-09-09 03:39:06,626.0,30078299053512,135,3
2702,384,2018-10-07 14:40:34,757.0,30078299053512,73,3
2750,696,2018-10-11 23:29:33,206.0,30078299053512,144,3
2811,1549,2018-10-19 01:07:37,1053.0,30078299053512,10,3
3064,2192,2018-11-13 05:58:47,466.0,30142966699187,122,24
3122,1629,2018-11-20 05:24:28,1054.0,30078299053512,22,3
3405,2461,2018-12-21 09:56:32,1301.0,30142966699187,96,24
3433,1119,2018-12-25 19:10:42,1035.0,30142966699187,57,24
3472,2164,2018-12-28 16:20:31,313.0,30078299053512,12,3